<button (click)="agregarDatos()">
  Agregar
</button>

<button (click)="agregarDatos1()">
  Agregar 1
</button>

<ng-container *ngIf='calendarVisible'>
  <div class='demo-app-main'>
    <full-calendar  [options]='calendarOptions'>
      <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  </div>
</ng-container>

<ng-container *ngIf='calendarVisible1'>
  <div class='demo-app-main'>
    <full-calendar  [options]='calendarOptions'>
      <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  </div>
</ng-container>
